@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e ;

    --fonte-padrao:arial,verdana,helvetica,sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    

}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #013044;
}


header{
   background-color: #031152;
   text-align: center;
   min-height: 130px;
   padding-top: 40px;
   font-weight: normal;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
   box-shadow:0px 7px 9px rgba(0, 0, 0, 0.432);
   
}
header > h1{
    color: #eefdf5;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    
}
header >p{
    color: #eefdf5;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}
nav{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #031152;
    padding: 10px;
    box-shadow:0px 7px 9px rgba(0, 0, 0, 0.432);
}
nav a {
    color: #eefdf5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
    font-weight: normal;
    transition-duration: 0.5s;
    
}
nav a:hover{
    color: #03523F;
    background-color: #042A5C;
    border-radius: 5px;
}
main{
    
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow:0px 7px 9px rgba(0, 0, 0, 0.432);

}
main h1{
    text-align: center;
    margin: 10px;

}
main h2{
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    background-image: linear-gradient(to right,#042A5C,transparent);
   text-indent: 8px;
   font-size: 1.3em;
}
main p {
    margin: 15px 0px;
    text-indent: 30px;  /*Espaço Palagrafo*/
    font-size: 1em;     /*Tamanho Da Fonte*/
    line-height: 2em;   /*Espaço Entre Linhas */
}

aside{
    background-color: #09DEDA;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside h1 {
    background-color: #013044;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: left
}
aside h1::before{
    content: '\1F4F1\00a0';
}
aside ul {
    list-style-position:inside;
    columns: 2;
    
    padding-left: 30px;
}

#basquete{
    list-style: '\1F3C0\00a0';
}
#fut{
    list-style: '\26BD\00a0'
}
#Baseball{
    list-style: '\26BE\00a0'
}
#Tennis{
    list-style: '\1F3BE\00a0'
}
#box{
    list-style: '\1F94A\00a0'
}
#golf{
    list-style: '\1F3CC\00a0'
}
#bow{
    list-style: '\1F3B3\00a0'
}
#nfl{
    list-style: '\1F3C8\00a0'
}
#hockey{
    list-style: '\1F3D2\00a0'
}

aside a {
    text-decoration: none;
    color: inherit;
}

aside abbr{
    text-decoration: none;
}
aside abbr:hover{
    text-decoration: underline;
}
img{
    width: 100%;
}

.video{
    background-color: #013044;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;

}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
    

iframe{
    margin: auto;
    display: block;
    max-width: auto;
}

footer{
    background-color: black;
}
footer p{
    text-align: center;
    color: white;
}